{{> header }}	
	<div class="main_content">
        <h1>{{title}}</h1>
        <div class="centered" style="width : 100%">
            <table id="marksContainer">
                <thead>
                    <tr>
                        <th>SNo</th>
                        <th>Roll No</th>
                        <th>Name</th>
                        <th>cgpa</th>
                        <th>percentage</th>
                        <th>Pass/Fail</th>
                        <th>Grade</th>
                    </tr>
                </thead>
                <tbody id="list"></tbody>
            </table>
        </div>
	</div>
    <script src="js/meritlist.js"></script>
{{> footer-end }}